body {
    display: flex;
    background-color:aliceblue;
    justify-content: center;
}

.wrapper {
    width: 100%;
}

div {
    /* border: solid; */
    display: flex;
    flex-direction: column;
}

.title {
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.title-logo {
    margin-left: 50px;
}

.title-profile {
    font-size: 7ch;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
}

.title-blankSpace {
    min-width: 20%;
}

.title-button {
    min-width: 7%;
    margin-right: 50px;
    border: solid;
    border-radius: 10px;
    background-color: gold;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.row-blankSpace {
    min-height: 20px;
}

.row-blankSpaceMedium {
    min-height: 25px;
}

.personalData {
    flex-direction: row;
}

.photo {
    max-width: 600px;
    border: solid;
    border-radius: 10px;
    margin-left: 50px;
}

.large-font {
    font-size: xx-large;
    color: darkblue;
}

.medium-font {
    font-size: x-large;
    color: darkblue;
    margin-left: 50px;
}

.personalName {
    justify-content: center;
    padding: 10px;
}

.col-blankSpace {
    min-width: 100px;
}
.career {
    font-size: xx-large;
    margin-left: 50px;
    display: none;
}

.display-none {
    display: inline;
}